{% extends "base.html" %}

{% block content %}

<h1>Login</h1>
<form method="POST" action="/login">
    <label for="username">Username</label>
        <input name="username" type="text" value='{{username}}'>
        <span class="error">{{username_error}}</span>
    <br>
    <label for="password">Password</label>
        <input name="password" type="password" value='{{password}}'>
        <span class="error">{{password_error}}</span>
    <br>
        <input type="submit" value="login">
</form>
<p>Don't have an account? <a href="/signup">Create one</a></p>

{% endblock %}